.button {
    padding: 12px 52px;
    font-size: 20px;
    border-radius: 50px;
    font-weight: var(--font-weight-semi-bold);
}

.button__main {
    background-color: var(--main-btn-bg-color);
    color: var(--main-btn-color) ;
    border: 2px solid var(--main-btn-bg-color);
}

.button__main:hover {
    background-color: var(--main-btn-hover-bg);
    border: 2px solid var(--main-btn-hover-border);
    transition: all 0.5s ease;
}

.button__back {
    background-color: var(--back-btn-bg-color);
    border: 2px solid var(--back-btn-border-color);
}

.button__back:hover {
    background-color: var(--back-btn-hover-bg);
    border: 2px solid var(--back-btn-hover-bg);
    transition: all 0.5s ease;
}