.card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
    display: block;
}

.card.card--selected {
    border: 5px solid var(--main-btn-hover-border);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card__top {
    position: relative;
    height: 150px; /* Высота верхней части карточки */
    background-color: #f8f9fa; /* Цвет фона */
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 10px;
}

.card__label {
    background-color: #ff4757;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.card__bottom {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.card-text {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.5;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Чтобы изображение заполняло контейнер */
}

.card__top {
    position: relative;
    height: 150px; /* Высота верхней части карточки */
    overflow: hidden; /* Чтобы изображение не выходило за границы */
}